<!DOCTYPE html>
<html>
<head>
<br>
<br>
<br>
<div class="container">
<center><img src="/ticketoutletlogo.png/" width = "220" height = "190" /></center>
<br>
<br>
<center><h2> About Ticket Outlet </h2></center>
<br>

<center><p>Ticket Outlet was founded by two Software Engineering students. It was a solution to a problem that many people ecountered in their local venues.
  When purchasing a ticket for a local event you have to go to the business or call for you to get your ticket. So, Ticket Outlet was founded. Now, you
  can get your tickets all in the palm of your hands, all your local venues will post the events and you will have the opportunity to purchase your tickets
  without having to leave your home!
  <br>
  <br>
  Here at Ticket Outlet, we hope you find the events you were looking for. If you have any suggestions feel free to <a href="/contact"> Contact Us! </a>
  <br>
  <br>
  Feel free to shop for your local events near you! <a href="/events">Shop Now! </a>

</p></center>
</div>
