<!DOCTYPE html>
<html>
<head> 
<style>


p.two {
  font-size: 300%;
  padding: 0px;
  margin: 0px;
  color:black;
}

p.one {
  display: inline-block;
  font-size: 100%;
  padding: 1px;
  margin: 0px;
  color:black;
}

</style>
</head>
<body>

<br> <br> <br> 

<div class = "container">

	<p class="two" > Charge Successful </p>
	<hr> 

	<p> A message was sent to <%= current_user.email.to_s%> containing more information on the event. </p>
	<hr>
	<br>  
	<p> Transaction Receipt </p>
	<br>

	<% @cart.each do |item| %>
		<p class="one" style="position: absolute;"> <%= item.name %> </p> 
		<p class="one" style="margin-left: 250px; position: absolute;"> <%= item.tickets_purchasing.to_s %> </p> 
		<br> 
		<%item.destroy%>    
	<% end %>
	<hr> 

	<p> Total: <%= @total.round(2) %> </p> 

	<br> 
	<br> 
	<br> 
	<br>
	<p> DISCLAIMER: No actual email was sent, just a prototype :) </p> 

	<br> 

</div>

 