<br>
<br>
<br>
<div class="container">
<h2> Events </h2>
<br>
<br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/ticketoutletlogo.png/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Event 1</h5>
      <p class="card-text">Event Details here.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/ticketoutletlogo.png/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Event 2</h5>
      <p class="card-text">Event Details here.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/ticketoutletlogo.png/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Event 3</h5>
      <p class="card-text">Event Details here.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<br>
<br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/ticketoutletlogo.png/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Event 4</h5>
      <p class="card-text">Event Details here.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/ticketoutletlogo.png/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Event 5</h5>
      <p class="card-text">Event Details here.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/ticketoutletlogo.png/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Event 6</h5>
      <p class="card-text">Event Details here.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>


</div>
