<br>
<br>
<br>
<div class="container">
<h2> Forgot Password </h2>
<br>
<form action="/newpassword" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" name ="email" class="form-control" id="inputEmail4" placeholder="Email">
      <br>
    </div>
    </div>
    <!--
    <label>Or</label>
    <br>
    <br>
    <div class="form-row">
    <div class="form-group col-md-6">
      <br>
      <label for="inputPhoneNumber">Phone Number</label>
      <input type="email" name="number" class="form-control" id="inputEmail4" placeholder="(956)123-4567">
    </div>
    </div>
	<br>
  -->

  <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
  <br>
  <br>
  </div>
