<!-- Main jumbotron for a primary marketing message or call to action -->
<br>
<br>
<br>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Ticket Outlet!</h1>
    <br>
    <p>Tired of waiting in line for tickets? Buy them here! Purchase your tickets today for upcoming local events!</p>
    <br>
    <p><a class="btn btn-primary btn-lg" href="http://localhost:4567/about" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Event1</h2>
      <p>Add event details here. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Event2</h2>
      <p>Add event details here. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Event3</h2>
      <p>Add event details here.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
