<br>
<br>
<br>
<div class="container">
<h2> Forgot Password Form </h2>
<br>
<form action="register" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Password</label>
      <input type="password" name ="passwordconfirm" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    </div>
    <br>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">Confirm Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
	<br>

  <button type="submit" name="" class="btn btn-primary">Submit</button>
</form>
<br>
<br>
</div>
