<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="splashscreen" class="container">
<img src='/ticketbooth.jpg/' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
<!--<title>Welcome to Ticket Outlet!</title>-->
<link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet" media="all">>

<link rel="stylesheet" href="style.css" media="screen" title="no title">
</div>
</head>
<body>
<center><h1 class='fade-in3'><font color="white">Welcome to Ticket Outlet!</font></h1></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center><a class='fade-in3 btn btn-primary' href="http://localhost:4567/home" type="submit" name="" role="button"><font color="black">Enter Here</font></a>
<!--<center><h1><font color="white">Welcome to Ticket Outlet!</font></h1></center>-->
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
